doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="css/normalize.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">
        script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous") 
        script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")        
        
        script(src="js/main.js")
        title Photographer
    body 
        .container 
            include includes/header

            hr
            p.work work experience
            h2.work Companies I have worked for in the past

            .block2
                .block2-1 
                    h1 01
                    h4 <span class="color">Google</span>, Interaction Designer
                    p I currently am the lead designer on the interaction design team for Google Play.
                .block2-1 
                    h1 02
                    h4 <span class="color2">Facebook</span>, Product Designer
                    p I’ve worked on a wide variety of internal tools for facebook over the past 6 years.
                .block2-1 
                    h1 03
                    h4 <span class="color3">Dribbble</span>, Graphic Designer
                    p I started my design career with Dribbble. I was incharge of creating illustrations for the platform.

            .block3 
                aside.block3
                    .block3-1
                        h2 Philosophy & values
                        p I think everyone wants the same thing - relationship with humanity, peace with the metaphysical, and experience with the universe. I try to grasp these things with my values: authenticity, creativity, & hospitality.
                        a.b3(href="#") More about me
                        img.line(src="img/line.png")
                img.foto(src="img/foto.png")

            .block4 
                aside
                    h2 Skillset
                    p With skills in over 4 different fields of design, I am the perfect person to hire when it comes to a full fledged project. Whatever your needs are, I can pretty much take on any challenge.
                .sections-grid
                    .grid-1 
                        img(src="img/f1.png")
                        h4 Product Design
                        p Working at Facebook has taught me a lot about how to understand users, solve problems and build great products.
                    .grid-1 
                        img(src="img/f2.png")
                        h4 Visual Design
                        p My experience at dribbble has helped me learn to develop the eye for design. Colors, typography, layout and the whole package.
                    .grid-1 
                        img(src="img/f3.png")
                        h4 Motion Design
                        p I started my design journey with motion design in my college days. Motion is something that really fascinates me because of the flexibility of story telling. 
                    .grid-1 
                        img(src="img/f4.png")
                        h4 Photography
                        p Clicking pictures really brings out the creative in me. Phtography really makes you look and percieve things in a different way.
            .logo
                .logo1 
                    img(src="img/fo1.png")
                .logo1 
                    img(src="img/fo2.png")
                .logo1 
                    img.i2(src="img/fo3.png")
                .logo1 
                    img.i2(src="img/fo4.png")
            
            .block5 
                .block5-1 
                    p MY PROJECTS
                    h2 Work that I’ve done for the past 8 years
                    img(src="img/fot2.png")
                    .block5-2-1 
                        h3 Restaurant Website Design
                        p I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.
                    img(src="img/fot4.png")
                    .block5-2-1 
                        h3 Restaurant Website Design
                        p I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.
                .block5-2
                    img(src="img/fot1.png")
                    .block5-2-1 
                        h3 Restaurant Website Design
                        p I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.
                    img(src="img/fot3.png")
                    .block5-2-1 
                        h3 Restaurant Website Design
                        p I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.
                    button.all 
                        p VIEW ALL PROJECTS
                    
            .block3
                aside.block3-1
                    .block3-1
                        h2 Instagram
                        p If you area a person who enjoys photography, then I highly recommend that you check out my Instagram. I’m an avid traveller and I capture the best moments that I would love to cherish with the world
                        a.b3(href="#") Follow me on IG
                        img.line1(src="img/line.png")
                img.fly(src="img/fly.png")

            .block-text
                h2 Dribbble
                p.dribbble Each dribbble shot is made with love and care. Do check out my work on Dribbble. Likes and comments are appreciated.
                a.block-text(href="#") Follow me on Dribbble
                img.line2(src="img/line.png")
            img.foto1(src="img/foto1.png")

            .block6 
                .block6-0 
                    h1 This is what people say about me
                    p Here are a few lines from people who I have worked with over the past 8+ years in my design career.
                    a.b6-0(href="#") See all testimonials
                    img.line3(src="img/line.png")
                aside.block6 
                    .block6-1 
                        img(src="img/im.png")
                        p "Robin is one of the best designers I have worked with in my entire life. He is a designer who is very capable of taking up complex projects and delivers impeccable design."
                        p.p-b6-1 Richard Owens
                        p.p-b6-2 CEO, Company 1
                    .block6-1 
                        img(src="img/im2.png")
                        p "I think Robin has an incredible gift. It has been an absolute pleasure to work with a designer of this caliber."
                        p.p-b6-1 Emily Parker
                        p.p-b6-2 CEO, Company 2
                    .block6-1 
                        img(src="img/im3.png")
                        p "All I can say that, Robin is a phenomenal designer. The wavelength at which he thinks is astoundaing. I love the focus, passion and attention to detial in the design."
                        p.p-b6-1 Vincent  Rudd
                        p.p-b6-2 CEO, Company 1

            h1.foto Photography
            p.foto Here is a collection of my best travel pictures that I took while travelling places all around the world. 
            .block-button 
                button.b1.b2
                    p ITALY 
                button.b1 
                    p AUSTRALIA
                button.b1 
                    p INDIA
                button.b1 
                    p BRAZIL
            .block-galery 
                img(src="img/galery.png")
                img(src="img/galery2.png")
                img(src="img/galery3.png")
                img(src="img/galery4.png")
            
            .block7
                .block7-1 
                    h1 Let’s get started
                    p Now that you know a lot about me, let me know if you are interested to work with me.
                .block7-2 
                    p Name
                    input.in
                    p Email
                    input.in
                    p Message
                    input.in.in1
                    button 
                        p Let’s get started

            include includes/footer