footer 
    .block-foot1
        .block-foot
            img(src="img/logo.png")
            .soc
                img(src="img/tv.png")
                img(src="img/go.png")
                img(src="img/in.png")
    .block-foot2
        .blo1
            a(href="#") Home
            a(href="#") About
            a(href="#") Work
            a(href="#") Process
        .blo2 
            a(href="#") Store
            a(href="#") Blog
            a(href="#") Reading List
    p Not Copyright 2020 • Robin Williams. Webflow cloneable