header
    aside 
        .neo
            img.logo(src="img/logo.png")
            .section
                .menu-block
                    nav.menu-nav
                        a(href="#") Experience
                        a(href="#") Work
                        a(href="#") Photo
                        a(href="#") Contact
                    a.menu-btn(href="#") 
                        span 
        img.ava(src="img/avatar.png")
        img.ava2(src="img/avatar2.png")
    .menu 
        a.menu(href="#") Experience
        a.menu(href="#") Work
        a.menu(href="#") Photography
        a.menu(href="#") Contact
    .block-info
        h1.info I’m Robin Williams. A Product Designer <span>based in Italy.</span>
        p.info I’m probably the most passionate designer you will ever get to work with. If you have a great project that needs some amazing skills, I’m your guy.